WCF.WinUI/Connected Services/ServiceReference1/Urunler.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF.DTO.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF.DTO.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DTOProducts">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Discontinued" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProductId" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuantityPerUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReorderLevel" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="SupplierId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UnitPrice" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UnitsInStock" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="UnitsOnOrder" nillable="true" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DTOProducts" nillable="true" type="tns:DTOProducts" />
  <xs:complexType name="ArrayOfDTOProducts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DTOProducts" nillable="true" type="tns:DTOProducts" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDTOProducts" nillable="true" type="tns:ArrayOfDTOProducts" />
</xs:schema>